fieldset {
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

.upload-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #777;
    height: 350px;
    width: 100%;
}

.upload-area-hover {
    border-color: #000;
    color: #000;
}

#uploaded-files img{
    max-width: 100px;
    margin: 10px;
}